:root {
  --marker-bg-image: url(images/marker3.png);
  --marker-bg-image-selected: url(images/marker3-s.png);
  --marker-width: 16px;
  --marker-height: 21px;
}

.lance-annotation-pin-class {
  display: inline-block;
  width: 16px !important;
  height: 21px !important;
  background-image: var(--marker-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  overflow: hidden;
  color: transparent;
  cursor: pointer;
  outline: none !important;
}

.lance-annotation-pin-class[data-selected='true'] {
  background-image: var(--marker-bg-image-selected);
}

.lance-annotation-class {
  background-color: #f9e9ac;
  border-width: 1px;
  border-style: solid;
  border-color: #fcf6dc #f6dc7c #f6dc7c #fcf6dc;
  padding: 1px 0;
  border-radius: 2px;
  border-top-left-radius: 0;
  box-sizing: border-box;
}

.lance-annotation-class[data-selected='true'] {
  /* border-color: #f9e9ac; */
  background-color: #f6dc7c;
}

img.lance-annotation-pin-class {
  width: var(--marker-width) !important;
  height: var(--marker-height) !important;
  outline: none;
  resize: none;
  -moz-resize: none;
}

img.lance-annotation-pin-class::selection,
.lance-annotation-pin-class::selection {
  background-color: transparent;
}

img.lance-annotation-pin-class::-moz-selection,
.lance-annotation-pin-class::-moz-selection {
  background-color: transparent;
}

.lance-annotation-pin-class > object {
  width: 10px;
  height: 10px;
  visibility: hidden;
}

.fr-toolbar .fr-command.fr-btn.loopindex-froala-button-highlight {
  border: 1px solid rgba(128, 128, 128, 0.3);
}
